@CHARSET "UTF-8";

/* 
	일관성을 위하여 sub title에 대하여 모두 같은 css를 적용하기위해
	추후에 이름 변동이 있을 예정 - 현재 system메뉴에서도 이 css를 적용함.
*/

*{
	padding: 0;
	margin: 0;
}
ul#sub_menu{
	float: left;
	position:relative;
	font-size: 18pt;
	margin-left: 10px;
}

ul#sub_menu li{
	margin-top: 40px;
}

div#send_msg{
	width:150px;
	height: 30px;
	margin-right: auto;
	padding-top: 20px;
	padding-left: 20px;
}

div#send_msg input{
	width: 100px;
	height: 40px;
}